<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>69047420889-df0uhno1gk9avoi6nikip85jl6qor2d3.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.69047420889-df0uhno1gk9avoi6nikip85jl6qor2d3</string>
    <key>API_KEY</key>
    <string>AIzaSyBNOAR-WHwpbXoMm89bqTAvIbo-3vNXnSo</string>
    <key>GCM_SENDER_ID</key>
    <string>69047420889</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>edu.monash.FIT3178-Week09-Lab</string>
    <key>PROJECT_ID</key>
    <string>tasker-63a94</string>
    <key>STORAGE_BUCKET</key>
    <string>tasker-63a94.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:69047420889:ios:7dda987cc60eb60602bbc8</string>
    <key>DATABASE_URL</key>
    <string>https://tasker-63a94.firebaseio.com</string>
</dict>
</plist>
